.container{
    position: relative;
    width: 100vw;
}

.task-bar{
    height: auto;
    width: 80vw;
}

.user-input{
    position: absolute;
    top: 6vh;
    left:3vw;
    width: 80vw;
    text-align: center;
    font-size: 2rem;
    
}

.task-text{
    background-color:#2BDAC5;
    width:50vw;
    height: auto;
    border: none;
    font-size: 2rem;
}
input:focus {
    outline: none;
}

.tick{
    position: absolute;
    top: 5vh;
    left:6vw;
}

.delete-icon {
    position: absolute;
    top: 4vh;
    right: 15vw;
}

